<div class="container">
    <div class="row">
        <div class="col-md-5">
            <form [formGroup]="formCom" (ngSubmit)="addCom()">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Name" formControlName="name"
                        [ngClass]="{'is-invalid': formCom.controls.name.errors && (formCom.controls.name.dirty || formCom.controls.name.touched)}">
                    <div class="invalid-feedback" *ngIf="formCom.get('name').errors?.required">
                        Name is required
                    </div>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email" formControlName="email"
                        [ngClass]="{'is-invalid': formCom.controls.email.errors && (formCom.controls.email.dirty || formCom.controls.email.touched)}">
                    <div class="invalid-feedback" *ngIf="formCom.get('email').errors?.required">
                        Email is required
                    </div>
                    <div class="invalid-feedback" *ngIf="formCom.get('email').errors?.email">
                        Invalid format email
                    </div>
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="3" placeholder="Comment" formControlName="comment"
                        [ngClass]="{'is-invalid': formCom.controls.comment.errors && (formCom.controls.comment.dirty || formCom.controls.comment.touched)}"></textarea>
                    <div class="invalid-feedback" *ngIf="formCom.get('comment').errors?.required">
                        Comment is required
                    </div>
                    <div class="invalid-feedback" *ngIf="formCom.get('comment').errors?.maxlength">
                        The maximum comment length is 150 characters
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="!formCom.valid">Add</button>
            </form>
        </div>
        <div class="col-md-6 offset-md-1">
            <div class="media mb-3" *ngFor="let comment of comments; let i = index;">
                <img src="http://lorempixel.com/64/64/people/" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">{{comment.name}}</h5>
                    <h6>{{comment.email}}</h6>
                    {{comment.comment}}
                    <div>
                        <button type="button" class="btn btn-primary btn-sm" (click)="deleteCom(i)">Delete comment</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>